<?xml version="1.0"?>
<config>
	<modules>
		<Kp_Salesman>
			<version>1.0.0</version>
		</Kp_Salesman>
	</modules>
	<admin>
		<routers>
			<salesman>
				<use>admin</use>
				<args>
					<module>Kp_Salesman</module>
					<frontName>salesman</frontName>
				</args>
			</salesman>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<salesman>
				<title>Salesman</title>
				<sort_order>40</sort_order>
				<children>
					<items>
						<title>Manage Salesman</title>
						<action>salesman/adminhtml_salesman/</action>
						<sort_order>0</sort_order>
					</items>
				</children>
			</salesman>
		</menu>
	</adminhtml>
	<global>
		<helpers>
            <salesman>
                <class>Kp_Salesman_Helper</class>
            </salesman>
        </helpers>
        <blocks>
            <salesman>
                <class>Kp_Salesman_Block</class>
            </salesman>
        </blocks>
        <models>
            <salesman>
                <class>Kp_Salesman_Model</class>
                <resourceModel>salesman_resource</resourceModel>
            </salesman>
            <salesman_resource>
                <class>Kp_Salesman_Model_Resource</class>
                <deprecatedNode>salesman_mysql4</deprecatedNode>
                <entities>
                    <salesman>
                        <table>salesman</table>
                    </salesman>
                </entities>
            </salesman_resource>
        </models>	
        <resources>
        	<salesman_setup>
        		<setup>
        			<module>Kp_Salesman</module>
        		</setup>
        		<connection>
        			<use>core_setup</use>
        		</connection>
        	</salesman_setup>
        	<salesman_write>
        		<connection>
        			<use>core_write</use>
        		</connection>
        	</salesman_write>
        	<salesman_read>
        		<connection>
        			<use>core_read</use>
        		</connection>
        	</salesman_read>
        </resources>
	</global>
</config>	