<?xml version="1.0"?>
<config>
	<modules>
		<Kp_Process>
			<version>0.1.0</version>
		</Kp_Process>
	</modules>
	<admin>
		<routers>
			<process>
				<use>admin</use>
				<args>
					<module>Kp_Process</module>
					<frontName>process</frontName>
				</args>
			</process>
		</routers>
	</admin>
	<adminhtml>
		<menu>
			<process translate="title" module="process">
				<title>Process</title>
				<sort_order>40</sort_order>
				<children>
					<manage translate="title" module="process">
						<title>Manage Process</title>
						<action>process/adminhtml_process/</action>
						<sort_order>0</sort_order>
					</manage>
					<manage_group translate="title" module="process">
						<title>Manage Process Groups</title>
						<action>process/adminhtml_group/</action>
						<sort_order>0</sort_order>
					</manage_group>
	                <manage_columns translate="title" module="process">
	                    <title>Manage Process Columns</title>
	                    <action>process/adminhtml_column/</action>
	                    <sort_order>0</sort_order>
	                </manage_columns>
	                 <manage_entries translate="title" module="process">
	                    <title>Manage Process Entries</title>
	                    <action>process/adminhtml_entry/</action>
	                    <sort_order>0</sort_order>
	                </manage_entries> 
	            </children>
	        </process>
	    </menu>
	</adminhtml>
	<global>
		<helpers>
			<process>
				<class>Kp_Process_Helper</class>
			</process>
		</helpers>
		<blocks>
			<process>
				<class>Kp_Process_Block</class>
			</process>
		</blocks>
		<models>
			<process>
				<class>Kp_Process_Model</class>
				<resourceModel>process_resource</resourceModel>
			</process>
			<process_resource>
				<class>Kp_Process_Model_Resource</class>
				<deprecatedNode>process_mysql4</deprecatedNode>
				<entities>
					<process>
						<table>process</table>
					</process>
					<process_group>
						<table>process_group</table>
					</process_group>
					<process_column>
						<table>process_column</table>
					</process_column>
					<process_entry>
						<table>process_entry</table>
					</process_entry>
				</entities>
			</process_resource>
		</models>
		<resources>
			<process_setup>
				<setup>
					<module>Kp_Process</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</process_setup>
			<process_write>
				<connection>
					<use>core_write</use>
				</connection>
			</process_write>
			<process_read>
				<connection>
					<use>core_read</use>
				</connection>
			</process_read>
		</resources>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<process>
					<file>process.xml</file>
				</process>
			</updates>
		</layout>
	</adminhtml>
</config>